CORS_ORIGIN=http://localhost:3030
BETTER_AUTH_SECRET=SOME_VALUE
BETTER_AUTH_URL=http://localhost:5050
MONGO_URI=mongodb://localhost:6060/shurai
MONGO_USER=username
MONGO_PASSWORD=password
MONGO_DATABASE_NAME=shurai
SERVER_PORT=5050
SERVER_HOST=localhost
POPULATE_ON_EMPTY=NONE